<%- include('../partials/header') %>
    <section class="row d-flex justify-content-center my-4">
        <div class="col-md-6">
            <div class="jumbotron py-4">
                <h2 class="text-center">Edit a Comment</h2>
                <hr class="my-2 col-md-3">
                <p class="text-center lead"><small>After editing the comment below please click "Save Changes"</small></p>
                <a class="btn btn-secondary btn-block mb-0" href="/campgrounds" role="button">Return to CampGrounds Page</a>
            </div>
        </div>
    </section>
    <section class="row d-flex justify-content-center">
        <div class="col-md-6">
            <form action="/campgrounds/<%= campgroundId %>/comment/<%= editComment._id %>?_method=put" method="POST">
                <div class="form-group">
                    <textarea class="form-control" name="comment[text]" id="comment" placeholder="Your Comment" required><%= editComment.text %></textarea>
                </div>
                <div class="alert alert-info" role="alert">
                    Please give a rating from 1 to 5
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" id="rating" name="comment[rating]" value="<%= editComment.rating %>" min="1" max="5" placeholder="Rating from 1 to 5">
                </div>
                
                <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
            </form>
        </div>
    </section>
</main>
<%- include('../partials/footer') %>