<%- include('../partials/header') %>
    <section class="row d-flex justify-content-center my-4">
        <div class="col-md-6">
            <div class="jumbotron py-4">
                <h2 class="text-center">Edit <%= campground.name %> CampGround</h2>
                <hr class="my-2 col-md-3">
                <p class="text-center lead"><small>After editing <%= campground.name %>, please click "Save Changes"</small></p>
                <a class="btn btn-secondary btn-block mb-0" href="/campgrounds" role="button">Return to CampGrounds Page</a>
            </div>
                
        </div>
    </section>
    
    <section class="row d-flex justify-content-center">
        <div class="col-md-6">
            <form action="/campgrounds/<%= campground.id %>?_method=put" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="campground[name]" id="campground-name" value="<%= campground.name %>" aria-describedby="campground name" placeholder="CampGround Name" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="campground[image]" id="image-url" value="<%= campground.image %>" placeholder="Image URL" required>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" step="0.01"  name="campground[price]" id="price" value="<%= campground.price %>" placeholder="Campground Price per Night" required>
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="campground[description]" id="description" placeholder="Description" required><%= campground.description %></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
            </form>
        </div>
    </section>
</main>
<%- include('../partials/footer') %>