<%- include('../partials/header') %>
    <div class="row mt-5">
        <div class="col-md-4 col-sm-12 mx-2">
            <div class="card">
                <div class="card-header">
                    Featured
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
        <div class="col-md-7 col-sm-12 mx-2">
            <div class="card">
                <img class="img-fluid" src="<%= campground.image %>" alt="This is a campground called <%= campground.name %>">
                <div class="card-body">
                    <div class="d-flex">
                        <h3 class="p-2"><%= campground.name %></h3> 
                        <h4 class="p-2 ml-auto">$<%= campground.price %>/night</h4>
                    </div>
                    <p class="card-text pb-3"><%= campground.description %></p>
                    <p class="d-inline-flex"><em>Submitted by <%= campground.author.username %></em></p>
                    <a class="btn btn-secondary float-right" href="/campgrounds">Go Back</a>
                    <% if(currentUser && campground.author.id.equals(currentUser.id)) { %>
                        <form method="POST" action="/campgrounds/<%= campground.id %>?_method=delete">
                            <button type="submit" class="btn btn-danger float-right mx-1">Delete</button>
                        </form> 
                        <a class="btn btn-warning float-right" href="/campgrounds/<%= campground.id %>/edit">Edit</a>
                    <% } %>
                </div>
            </div> 
            <div class="card mt-3 bg-light mb-3">
                <div class="card-body">
                    <div>
                        <h3 class="card-title  d-inline-flex">Comments</h3>
                        <a class="btn btn-primary float-right" href="/campgrounds/<%= campground.id %>/comment/new">New Comment</a>
                    </div>
                    <div class="card-content mt-2">
                        <% for(comment of campground.comment){ %>
                            <% let stars = "&starf;";
                            for(let star = 1; star < parseInt(comment.rating); star++) {
                                stars += "&starf;";
                            }
                            %>
                            <div>
                                <span><%- stars %> <em><%= comment.author.username %></em></span><span class="float-right"><% let days = Math.round((Date.now() - comment.createdAt) / 86400000 ); (days >= 1) ? days = `${days} ago` : days = "Created today"; %><%= days %></span></h5>
                            </div>
                            <p><%= comment.text %></p>
                            <% if(currentUser && comment.author.id.equals(currentUser.id)) { %>
                                <form method="POST" class="d-inline-flex" action="/campgrounds/<%= campground.id %>/comment/<%= comment.id %>?_method=delete">
                                    <button type="submit" class="btn btn-danger btn-sm mx-1">Delete</button>
                                </form>
                                <a class="btn btn-warning btn-sm" href="/campgrounds/<%= campground.id %>/comment/<%= comment.id %>/edit">Edit</a>
                            <% } %>
                        <% } %>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</main>

<%- include('../partials/footer') %>